.container {
  max-width: 35.938rem;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-full {
  width: 100%;
}

.column-third {
  margin: auto;
  margin-top: 11rem;
}

.align-center {
  align-items: center;
}

.text-align {
  text-align: center;
}

.music-toggle {
  text-align: end;
}

.spinner {
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 6rem;
  margin-left: 2rem;
}

.topics {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.topic-img {
  cursor: pointer;
  width: 16.375rem;
  height: 11.563rem;
  margin-bottom: 1.875rem;
}

img.topic-img:hover {
  border: 10px solid #2196f3;
  border-radius: 10%;
}

/* PHONE LANDSCAPE */
@media screen and (min-width: 736px) {
  .container {
    max-width: 45.938rem;
    margin: 0 auto;
  }

  .column-third {
    margin: auto;
    margin-top: 7rem;
  }

  .navbar {
    background-color: #44adf4;
    height: 3rem;
  }

  .penguin {
    width: 2rem;
    height: 2rem;
    margin: 0.625rem 0 1rem 0.625rem;
  }

  .topics {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }

  .topic-img {
    cursor: pointer;
    width: 13.375rem;
    height: 11.563rem;
    margin-bottom: 1.875rem;
  }

  .style {
    margin: auto;
    background: rgba(67, 173, 244, 0.8);
    border: 5px solid black;
    border-radius: 3%;
    width: 30rem;
    height: 17rem;
  }

  .music-toggle {
    text-align: end;
    height: 2.5rem;
  }

  .fa-music {
    font-size: 1.875rem;
    cursor: pointer;
    margin: 0.625rem;
  }

  .fa-volume-xmark {
    font-size: 1.875rem;
    cursor: pointer;
    margin: 0.625rem;
  }

  .center-img {
    text-align: center;
    width: 11rem;
    display: flex;
    justify-content: center;
  }

  .center-img > img {
    width: 10.5rem;
    height: 9.5rem;
    margin: 2.125rem 0 0.5rem;
  }

  .center-img > span {
    width: 15.625rem;
    margin: 6rem 0 1.125rem;
    font-size: 4rem;
  }

  .spinner {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .network-err {
    color: black;
    margin-top: 5.25rem !important;
    font-size: 1.5rem !important;
    white-space: pre-wrap;
  }
}

/* TABLET MEDIA QUERY */
@media screen and (min-height: 1024px) {
  .navbar {
    background-color: #44adf4;
    height: 3.75rem;
  }

  .container {
    max-width: 100%;
  }

  .column-third {
    margin: auto;
    margin-top: 13rem;
  }

  .topics {
    flex-direction: column;
    justify-content: space-evenly;
    height: 75vh;
    align-items: center;
  }

  .topic-img {
    cursor: pointer;
    width: 17.75rem;
    height: 15.75rem;
  }

  .music-toggle {
    text-align: end;
    width: 100%;
  }

  .fa-music {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1.25rem;
  }

  .fa-volume-xmark {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1.25rem;
  }

  .logo {
    color: white;
    font-family: Jua, sans-serif;
    align-items: center;
    margin: 0;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    cursor: pointer;
    display: inline;
  }

  .penguin {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.625rem 0 1rem 0.625rem;
  }

  .style {
    margin: auto;
    background: rgba(67, 173, 244, 0.8);
    border: 5px solid black;
    border-radius: 3%;
    width: 40rem;
    height: 30rem;
    margin-top: 10rem;
  }

  .justify-center {
    justify-content: start;
  }

  .word-text {
    font-size: 3.5rem;
    font-family: Jua, sans-serif;
  }

  .center-img > img {
    width: 18.75rem;
    height: 18.75rem;
    margin: 3.125rem 0 2rem;
  }

  .center-img {
    width: 21rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .center-img > span {
    width: 20rem;
    margin: 9.5rem 0 1.125rem;
    font-size: 7rem;
  }

  .network-err {
    color: black;
    margin-top: 9.25rem !important;
    font-size: 2.5rem !important;
    white-space: pre-wrap;
  }
}

/* TABLET LANDSCAPE */
@media screen and (min-width: 1000px) {
  .navbar {
    background-color: #44adf4;
    height: 3.75rem;
  }

  .logo {
    color: white;
    font-family: Jua, sans-serif;
    font-size: xx-large;
    align-items: center;
    margin: 0;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    cursor: pointer;
    display: inline;
  }

  .penguin {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.625rem 0 1rem 0.625rem;
  }

  .container {
    max-width: 100%;
  }

  .column-third {
    margin: auto;
    margin-top: 13rem;
  }

  .topics {
    flex-direction: row;
    justify-content: space-evenly;
    height: 65vh;
    align-items: center;
  }

  .topic-img {
    cursor: pointer;
    width: 18.75rem;
    height: 18.75rem;
  }

  .music-toggle {
    text-align: end;
    width: 100%;
  }

  .fa-music {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1.25rem;
  }

  .fa-volume-xmark {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1.25rem;
  }

  .style {
    margin: auto;
    background: rgba(67, 173, 244, 0.8);
    border: 5px solid black;
    border-radius: 3%;
    width: 50rem;
    height: 30rem;
    margin-top: 5rem;
  }

  .justify-center {
    justify-content: start;
  }

  .word-text {
    font-size: 3.5rem;
    font-family: Jua, sans-serif;
  }

  .center-img {
    width: 22rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .center-img > img {
    width: 21.875rem;
    height: 21.875rem;
    margin: 2rem 0 0;
  }

  .center-img > span {
    width: 21rem;
    margin: 10rem 0 1.125rem;
    font-size: 7rem;
  }

  .spinner {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .network-err {
    color: black;
    margin-top: 9.25rem !important;
    font-size: 2.5rem !important;
    white-space: pre-wrap;
  }
}

/* DESKTOP */
@media screen and (min-width: 1300px) {
  .container {
    max-width: 100%;
  }

  .column-third {
    margin: auto;
    margin-top: 14rem;
  }

  .topics {
    flex-direction: row;
    justify-content: space-evenly;
    height: 90vh;
    align-items: center;
  }

  .topic-img {
    cursor: pointer;
    width: 21.875rem;
    height: 21.875rem;
  }

  .music-toggle {
    text-align: end;
    width: 100%;
  }

  .fa-music {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1.25rem;
  }

  .fa-volume-xmark {
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1.25rem;
  }

  .navbar {
    background-color: #44adf4;
    height: 3.75rem;
  }

  .logo {
    color: white;
    font-family: Jua, sans-serif;
    font-size: xx-large;
    align-items: center;
    margin: 0;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
    cursor: pointer;
    display: inline;
  }

  .penguin {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.625rem 0 1rem 0.625rem;
  }

  .style {
    margin: auto;
    background: rgba(67, 173, 244, 0.8);
    border: 5px solid black;
    border-radius: 3%;
    width: 60rem;
    height: 31rem;
    margin-top: 5rem;
  }

  .justify-center {
    justify-content: start;
  }

  .center-img > img {
    width: 21.875rem;
    height: 21.875rem;
    margin: 2.125rem 0 0;
  }

  .center-img > span {
    width: 15.625rem;
    margin: 11rem 0 1.125rem;
    font-size: 7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .center-img {
    width: 20rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .word-text {
    font-size: 4.5rem;
    font-family: Jua, sans-serif;
  }

  .spinner {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5rem;
    margin-left: 2rem;
  }

  .network-err {
    color: black;
    margin-top: 9.25rem !important;
    font-size: 2.5rem !important;
    white-space: pre-wrap;
  }
}
