body {
  background-image: url("./images/snow.png");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

button {
  position: fixed;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

.fa-music {
  font-size: 1.875rem;
  cursor: pointer;
  margin: 0.625rem;
}

.fa-volume-xmark {
  font-size: 1.875rem;
  cursor: pointer;
  margin: 0.625rem;
}

.navbar {
  background-color: rgb(67, 173, 244);
  height: 3.125rem;
}

.logo {
  color: white;
  font-family: cursive;
  font-size: x-large;
  align-items: center;
  margin: 0;
  padding-top: 0.625rem;
  padding-left: 0.625rem;
  cursor: pointer;
  display: inline;
}

.penguin {
  width: 1.875rem;
  height: 1.875rem;
  margin: 0.625rem 0 0 0.625rem;
}

/* CAROUSEL CSS */

/* change everything to rem instead of fixed */

.style {
  margin: auto;
  background: rgba(67, 173, 244, 0.5);
  border: 5px solid black;
  border-radius: 3%;
  width: fit-content;
  margin-top: 5rem;
}

.column-third {
  margin: auto;
  display: inline-flex;
}

/* .circle-container {
  text-align: center;
  margin: 30px;
  font-size: 20px;
  cursor: pointer;
} */

.fa-chevron-right {
  font-size: 3.125rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.fa-chevron-left {
  font-size: 3.125rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.center-img {
  text-align: center;
}

.center-img > img {
  width: 15.625rem;
  height: 15.625rem;
  margin: 4rem 0 3.125rem;
}

.word-text {
  font-size: 2.5rem;
}
