body {
  background-image: url("./images/snow.png");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

button {
  position: fixed;
}

a {
  text-decoration: none;
}

img {
  cursor: pointer;
}

.fa-music {
  font-size: 1.875rem;
  cursor: pointer;
  margin: 0.625rem;
}

.fa-volume-xmark {
  font-size: 1.875rem;
  cursor: pointer;
  margin: 0.625rem;
}

.navbar {
  background-color: rgb(67, 173, 244);
  height: 3.125rem;
}

.logo {
  color: white;
  font-family: Jua, sans-serif;
  font-size: x-large;
  align-items: center;
  margin: 0;
  padding-top: 0.625rem;
  padding-left: 0.625rem;
  cursor: pointer;
  display: inline;
}

.penguin {
  width: 2rem;
  height: 2rem;
  margin: 0.625rem 0 1rem 0.625rem;
}

/* CAROUSEL CSS */

.style {
  margin: auto;
  background: rgba(67, 173, 244, 0.8);
  border: 5px solid black;
  border-radius: 3%;
  width: fit-content;
  height: 27.563rem;
  margin-top: 5rem;
}

.fa-chevron-right {
  font-size: 3.125rem;
  margin-left: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.fa-chevron-left {
  font-size: 3.125rem;
  margin-right: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.center-img {
  text-align: center;
}

.center-img > img {
  width: 15.625rem;
  height: 15.625rem;
  margin: 4.5rem 0 1.125rem;
}

.center-img > span {
  width: 15.625rem;
  margin: 9.5rem 0 1.125rem;
  font-size: 4rem;
  font-family: Jua, sans-serif;
}

.word-text {
  font-size: 3.5rem;
  font-family: Jua, sans-serif;
}

/* Loading Spinner */
@keyframes ldio-mpfig5gfwfi {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-mpfig5gfwfi div {
  width: 3.75rem;
  height: 3.75rem;
  border: 1.25rem solid black;
  border-top-color: transparent;
  border-radius: 50%;
  animation: ldio-mpfig5gfwfi 1s linear infinite;
  top: 6.25rem;
  left: 6.25rem;
  box-sizing: content-box;
}

.loadingio-spinner-rolling-sz6x1e80f7m {
  width: 12.5rem;
  height: 12.5rem;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-mpfig5gfwfi {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.network-err {
  color: black;
  margin-top: 7.25rem !important;
  font-size: 2.5rem !important;
  white-space: pre-wrap;
  display: flex;
}
