/* * {
  margin: 0;
} */

body {
  background-image: url("./images/snow.png");
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  cursor: pointer;
}

.fa-music {
  font-size: 50px;
  cursor: pointer;
  margin: 20px;
}

.fa-volume-xmark {
  font-size: 50px;
  cursor: pointer;
  margin: 20px;
}
